body {
background-color: #07d1ff;
}

h1 {
color: white;
text-align: center;
}

p {
font-family: "Times New Roman";
font-size: 20px;
text-align: center;
}

h2 {
	color: white;
	text-align: center;
}

.sticky {
position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 9999;
background-color: rgba(0, 0, 0, 0.5);
}

.home {
max-width: 50px;
transform: translate(0%, 50%);
border: 0;
}

.btn-group2 .button {
position: relative;
border: 1px solid #d4430c;
color: #d4430c;
background-color:black;
padding: 15px 32px;
text-align: center;
font-weight: bold;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
}

.socialmedia {
top: 50%;
left 50%;
transform: translate(2000%, 0%);
-ms-transform: translate(2000%, 0%);
max-width: 0.9%;
}